<section id="main" class="wrapper">
  <div class="container-fluid" style="background-image: url('/images/c.jpg'); color: white;">
    <header class="major">
      <h2 style="color:white;">Careers</h2>
      <p>Join the fun</p>
    </header>
  </div>
</section>
<div class="container">
<h1>Work with a purpose. And a smile.</h1>
<h3>Open positions</h3>
	<h4>Manager, Customer Support Training</h4>
	<ul>
		<li>3+ years of experience teaching or training, preferably with non-native English speakers</li>
		<li>2+ years of management experience, ideally for a large distributed team</li>
		<li>Background in project or program management</li>
		<li>Impeccable written and verbal communication skills</li>
		<li>Genuine passion for providing astonishingly great customer service</li>
		<li>Ability to roll up your sleeves and creatively solve problems</li>
	</ul>

	<h4>iOS Developer</h4>
	<ul>
		<li>BS/MS degree in Computer Science, Engineering or a related subject</li>
		<li>Solid understanding of  software development process and lifecycle</li>
		<li>Working experience in iOS development</li>
		<li>Have published one or more iOS apps, based off client-server architecture, in the app store.</li>
		<li>Familiarity with Swift, Objective-C and Cocoa Touch</li>
		<li>Experience working with iOS frameworks such as Core Data, Core Animation, Core Graphics and Core Text</li>
	</ul>

	<h4>Principal UX Architect</h4>
	<ul>
		<li>7+ years of user experience and interface design experience for a high-traffic web product (two-sided marketplace, e-commerce or B2B web app experience highly desired)</li>
		<li>A strong portfolio - please provide as part of your application</li>
		<li>Hands on experience spanning web, mobile and desktop applications</li>
		<li>Effectively implement user research and product design best practices that transform the end to end experience for our users</li>
		<li>Polished communication skills and track record advocating for compelling product design and the underpinning methodologies that deliver great design</li>
		<li>Strong grasp of technology underpinning channels spanning mobile (web, iOS, Android), online, and email experiences, so that you can guide the team to solutions that are both elegant and feasible</li>
	</ul>

	<h4>Payment Analyst, Trust & Safety</h4>
	<ul>
		<li>Bachelor's degree in quantitative field with 3 - 5 years of related work experience</li>
		<li>Experience with business intelligence and data visualization tools</li>
		<li>Demonstrated experience in analysis and presentation of results in a clear and effective manner</li>
		<li>Strong SQL, Excel and PowerPoint skills</li>
		<li>Familiar with at least one scripting language such as Python, Unix Shell Scripting, R, etc.</li>
		<li>Strong willingness and self-discipline to contribute to a small team</li>
	</ul>
</div>
