<section id="main" class="wrapper">
  <div class="container-fluid" style="background-image: url('/images/c.jpg'); color: white;">
    <header class="major">
      <h2 style="color:white;">FAQ</h2>
      <p>Happy to help you.</p>
    </header>
  </div>
</section>
<div class="container">
<h3>How can I ensure that my idea won't be stolen by the freelancer I'm hiring?</h3>
<p> - Your best bet is to find a local business or freelancer and meet up in person before beginning the project, and have a SOLID NDA, not a lame xeroxed paragraph from 1972 ---> (try RocketLawyer for starters). If things go wrong, the situation would be so much easier to handle locally rather than statewide, country-wide or even internationally. </p>

<h3>How to start my work?</h3>
<p> - Your first step should be to create your profile. At present there is nothing there for an employer to look at - you have no skills listed, no work samples, etc. You need to showcase what you can do, otherwise employers will pass you by. In addition, you will need to write proposals that outline the work you will do, and the fee you will charge for it, when you see a project that is of interest. This will work with your profile to "sell" you and your skills to the employer.

Reading the Basics in the Guru Help Section will be helpful too. It covers everything you need to know, step by step, in an easily navigated format. You may still have questions, but this will give you a good foundation to start with.</p>

<h3>Can I speak verbally with a free lancer once the project is awarded?</h3>
<p> - By all means, yes, You can even talk with a freelancer BEFORE you award them your job. Doing so will allow you to find out if there are any communication or language problems. It will allow you to better explain what is needed concerning your job. It will allow you to find out if they understand what's expected of them and it will allow you to find out if they are a good "fit" to work with you.

Once you award a job to a freelancer, files can be exchanged any way that both of you agree to such as attachments through personal email, dropbox files, or anything else. You can also communicate by any means, (phone calls, Skype, instand messaging (yahoo or aol etc.) It's a VERY good idea, if you do that, to copy all files into the workroom and make a copy of any communication that occurs and upload that also into the workroom so you'll have documentation should a problem arise.</p>

<h3>How do I limit responses to a project/job to only those freelancers that I invite?</h3>
<p> - It sounds like you want to post a private job. That means that only freelancers you choose to invite will see your job. Right now, we don't have limitations to those, but we're working towards it.</p>

<h3>When I accept a project, is there a contract even if both parties don't live in the same country?</h3>
<p> - The freelancer creates a project agreement in which they outline what services they are providing, what the timeline will be, what milestones there might be, and what the payment(s) will be according to the milestones or single payment on completion. This is essentially the contract you referred to. Once sent to the employer, they either agree to the terms or they request changes. You enter into some negotiations if needed. Following this, the Safepay (escrow) can be created, then the work begins. I would recommend that you use Safepay as much as possible. When you have some history and trust with an employer you may wish to change to invoicing, but your best option is Safepay especially in the beginning. It provides more security for both parties. Because payments are converted to US currency, geography isn't a factor there either.</p>

</div>
