<section id="main" class="wrapper">
  <div class="container-fluid" style="background-image: url('/images/c.jpg'); color: white;">
    <header class="major">
      <h2 style="color:white;">Privacy Policy</h2>
    </header>
  </div>
</section>
<div class="container">
<h1>Overview</h1>
<p>Devinder.com is firmly committed to the privacy of its members. Devinder.com works hard to earn and keep your trust, so it adheres to the following principles to protect your privacy:
<ul>
<li>Devinder.com does not rent or sell your personally identifiable information to third parties.</li>
<li>Devinder.com does not share your contact information with other users or third parties without your consent.</li>
<li>Any personally identifiable information that you provide to Devinder.com will be secured with industry standard protocols and technology.</li>
</ul></p>

<h1>Information Collection</h1>
<p>Devinder.com is an online marketplace that connects businesses with freelancers. When you visit Devinder.com you provide two types of information: personal information you knowingly choose to disclose that is collected by Devinder.com and Web Site use information collected by Devinder.com as you interact with the Devinder.com web site.</p>

<p>When you register with Devinder.com as a Freelancer or as an Employer, you provide certain personal information, including, your name, your email address and your address. Additionally, when you establish your profile as a Freelancer or as an Employer you will provide information relating to your skills, experience, education level, compensation, work availability, geographic region and self-evaluation. Such information does not identify the specificity of the individual member. Freelancers are not required to, but have the option to display their contact information (i.e. name, address, phone number, email address, etc.) to Employers who conduct searches of the Devinder.com database.</p>

<p>When you enter the Website, Devinder.com collects your IP address. This information is gathered for all Devinder.com visitors. In addition, Devinder.com stores certain information from your browser using “cookies.” A cookie is a piece of data stored on the user’s computer tied to information about the user. Devinder.com uses session ID cookies to confirm that users are logged in. These cookies terminate once the user closes the browser. By default, Devinder.com uses a persistent cookie that stores your login ID (but not your password) to make it easier for you to login when you return to the Website. Devinder.com members must have cookies enabled on their browser. Note, Cookie preferences are set within each browser’s Internet options/preferences.</p>

<p>If you post a information on a bulletin board, or participate in a public message board, you should be aware that any personally identifiable information you choose to provide there can be read, collected, or used by other users of these forums and could be used to send you unsolicited messages. Devinder.com is not responsible for the personally identifiable information you choose to submit in these forums.</p>

<p>Devinder.com is the sole owner of the information collected through the Website.</p>
</div>
