
<section id="main" class="wrapper">
  <div class="container-fluid" style="background-image: url('/images/c.jpg'); color: white;">
    <header class="major">
      <h2 style="color:white;">About Devinder</h2>
      <p>Get to know us better</p>
    </header>
  </div>
</section>
<div class="container">
<h2 style="color:black;">Say hello to talent without boundaries</h2>
<p>The best companies win with the best talent. But great people can be hard to find. We’ve created an online workplace for the world – connecting clients with top freelance professionals from San Francisco to Sao Paulo.</p>
<p>Whether you need one writer or an entire team of programmers, we help you find the right experts to fuel your success. Our platform lets you work effortlessly with freelancers anywhere. Say goodbye to business as usual.</p>

<h2 style="color:black;">Our Mission</h2>
<p>To create economic and social value on a global scale by providing a trusted online workplace to connect, collaborate, and succeed.</p>

<h2 style="color:black;">Our Vision</h2>
<p>To connect businesses with great talent faster than ever before.</p>
</div>
