<section id="main" class="wrapper">
  <div class="container-fluid" style="background-image: url('/images/c.jpg'); color: white;">
    <header class="major">
      <h2 style="color:white;">Our Team</h2>
      <p>The magicians behind what we do!</p>
    </header>
  </div>
</section>
<div class="container">
	<div style="width: 100%;" class="border-radius">
	<h2 style="text-align: center;">Kelvin Lu</h2>
		<div style="display: inline-block; width: 30%; vertical-align:middle;">
			<img src="/images/kelvin.jpg" class="img-thumbnail" width="304">
		</div>
		<div style="display: inline-block; width: 55%; margin-left: 50px; text-align:center; ">
			<h4>Kelvin is a budding software engineer based in San Jose, CA currently interested in web development. He has experience building web applications with MEAN stack and Ruby on Rails. He is an alumni of UC San Diego. Kelvin is a great asset to Devinder.</h4>
		</div>
		<br>
	</div>
	<br>

	<div style="border-bottom: 1px solid silver;"></div>

	<div style="width: 100%;">
	<h2 style="text-align: center;">Michael Ryan</h2>
		<div style="display: inline-block; width: 30%; vertical-align:middle;">
			<img src="/images/mike.png" class="img-thumbnail" width="304">
		</div>
		<div style="display: inline-block; width: 55%; margin-left: 50px; text-align:center; ">
			<h4>Founder, President, CEO, COO, CFO, Senior Analyst, Senior Manager, Senior Scuba Diver, Senior Captain, Chef</h4>
		</div>

		<br>
	</div>
	<br>

	<div style="border-bottom: 1px solid silver;"></div>

	<div style="width: 100%;">
	<h2 style="text-align: center;">Mona Rajhans</h2>
		<div style="display: inline-block; width: 30%;">
			<img src="/images/mona.jpg" class="img-thumbnail" width="304">
		</div>
		<div style="display: inline-block; width: 55%; margin-left: 50px; text-align:center;">
			<h4>Mona graduated with a degree in Electronics & Communication Engineering in 2012. She has previously worked with NIT SIkkim and D.E.Shaw Research. She enjoys coding and is always keen on learning bleeding-edge technologies. She is motivated and a quick starter. She is always ready to learn things on her own. She immensely helped in shaping Devinder to its current form.</h4>
		</div>
		<br>
	</div>

</div>
