<section id="main" class="wrapper">
  <div class="container-fluid" style="background-image: url('/images/c.jpg'); color: white;">
    <header class="major">
      <h2 style="color:white;">Terms of service</h2>
    </header>
  </div>
</section>
<div class="container">
<p>The following Terms of Service, which include the Privacy Policy, IP Policy, and any guideline, policy or content displayed on the Website, are a legally binding contractual agreement between you (“User, “you,” “your”) and Websoft, Inc. d/b/a Devinder.com (Devinder.com,” “we,” “us”) (hereinafter collectively referred to as the “Terms of Service”).  By visiting or using the services available from the domain and sub-domains of www.Devinder.com (the “Website”), you agree to be legally bound by these Terms of Service. We reserve the right to revise these Terms of Service and all linked information from time to time in our sole discretion by updating this posting or any linked information. Unless otherwise provided in such revision, the revised terms will take effect when they are posted.</p>

<ul>
	<li>OVERVIEW AND DEFINITIONS</li>
	<p>Devinder.com is an online marketplace that enables buyers of professional services (“Employers”) to search for, enter into and manage transactions with providers of professional services (“Freelancers” and, collectively with Employers, “Registered Users”).  The Website contains features that enable Freelancers and Employers to do, among other things, the following:</p>
	<ul>
		<li>Employers:Create profiles, post projects, search for Freelancers, communicate with Freelancers,negotiate with Freelancers, award projects to Freelancers, manage projects, leave feedback for Freelancers, and pay Freelancers.</li>
		<li>Freelancers (or Devinder): Create profiles, advertise capabilities, submit quotes, negotiate with Employers, obtain project awards, invoice, obtain feedback from Employers, and receive payment from Employers.</li>
	</ul>
	<br>
	<li>REGISTRATION</li>
	<p>A. Eligibility. To access our Services through our Website, you must be a legal entity, or an individual of eighteen (18) years of age or older who can form legally binding contracts. To become a Registered User, you must accept all of the terms and conditions in, incorporated by reference in, and linked to, these Terms of Service. By becoming a Registered User, you agree to: (1) abide by the Terms of Service and the processes, procedures, and guidelines described throughout the Website; (2) be financially responsible for your use of the Website and the purchase or delivery of services; and (3) perform your obligations as specified by any Project Agreement that you accept, unless such obligations are prohibited by law or by the Terms of Service. Devinder.com reserves the right, in its sole discretion, to refuse, suspend, or terminate Services to anyone.</p>

	<p>B. Registration. To become a Registered User and to access Services you must register for an Account. You agree to provide true, accurate and complete information as prompted by the registration form and all forms you access on the Website, and to update this information to maintain its truthfulness, accuracy and completeness.</p>

	<p>C.  Accounts and Profiles.</p>

	<p>General. Once you have registered with the Website as a Registered User, the Website will create your Account with Devinder.com and associate it with an account number. You may create a profile under your Account, in accordance with Section 2(D).
	Username and Password. During registration, you will be asked to choose a username and password for the Account. As a Registered User, you agree and you are entirely responsible to safeguard and maintain the confidentiality of the username and password you use to access this Website. You authorize Devinder.com to assume that any person using the Website with your username and password is you or is authorized to act for you. You agree to notify us immediately if you suspect any unauthorized use of the Account.</p>

	<p>D. Membership. Devinder.com provides Registered Users several different membership options. The availability of these membership options is dependent upon (i) the Registered User’s status as an Employer or a Freelancer (ii) the selections made during registration, (iii) any subsequent upgrades or downgrades of membership options after registration.</p>

	<li>RELATIONSHIPS</li>
	<p>1. Project Agreement. The engagement, contracting and management of a project are between an Employer and a Freelancer. Upon acceptance of a quote, the Employer agrees to purchase, and the Freelancer agrees to deliver, the services and related deliverables in accordance with the following agreements: (a) the agreement between Employer and Freelancer including the Project Bid, Project Description, and other terms and conditions as communicated between Employer and Freelancer on the Website or otherwise, (b) these Terms of Service, and (c) any other content uploaded to the Website by Devinder.com (collectively, the “Project Agreement”). You agree not to enter into any contractual provisions in conflict with these Terms of Service. Any provision of a Project Agreement in conflict with these Terms of Service is void. Employer is responsible for managing, inspecting, accepting and paying for satisfactory services and deliverables in accordance with the Project Agreement in a timely manner. Freelancer is responsible for the performance and quality of the services in accordance with the Project Agreement in a timely manner. Employer and Freelancer each covenants and agrees to act with good faith and fair dealing in performance of the Project Agreement.</p>

	<p>2. Independence. Employer and Freelancer each acknowledges and agrees that their relationship is that of independent contractors. The Freelancer shall perform services as an independent contractor and nothing in these Terms of Service shall be deemed to create a partnership, joint venture, agency, or employer-employee relationship between Freelancer and Employer or between Devinder.com and any Employer or Freelancer.</p>
</ul>
</div>
